<link rel="stylesheet" href="css\header.css">
<nav id="mainnavbar" class="navbar navbar-expand-lg navbar-light ">
  <div id='justbg'>
  </div>
  <img onclick='window.location.href="/"' id="logoimage" class="headerladclogo" src="images\ladclogo.png"
    alt="ladc logo">
  <a class="navbar-brand" href="#"></a>
  <div class='bars'>
    <i class="fa fa-bars"></i>
  </div>
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link <%= title == " LADC-NITJ" ? "active" : "" %>" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= title == " About" ? "active" : "" %>" href="/about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= title == " Events" ? "active" : "" %>" href="/events">EVENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= title == " Membership" ? "active" : "" %>" href="/membership">MEMBERSHIP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= title == " Alumni" ? "active" : "" %>" href="/alumni">ALUMNI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= title == " Newsletter" ? "active" : "" %>" href="/newsletter">NEWSLETTER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= title == " Blog" ? "active" : "" %>" href="/blog">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= title == " Contact" ? "active" : "" %>" href="/contact">CONTACT</a>
      </li>
      <% if(locals.user) {%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            DASHBOARD
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="nav-link " href="/admin/alumni">Alumni Approve</a>
            <a class="nav-link " href="/admin/blog">Blogs Approve</a>
          </div>
        </li>
        <%} %>
    </ul>
  </div>
</nav>
<div id='upButton'>
  <i class="fa fa-arrow-up"></i>
</div>
<div class='sidebar'>
  <ul class="">
    <div class='cross'>
      <i class="fa fa-times"></i>
    </div>
    <a class="nav-link <%= title == " LADC-NITJ" ? "active" : "" %>" href="/">HOME</a>
    <a class="nav-link <%= title == " About" ? "active" : "" %>" href="/about">ABOUT</a>
    <a class="nav-link <%= title == " Events" ? "active" : "" %>" href="/events">EVENTS</a>
    <a class="nav-link <%= title == " Membership" ? "active" : "" %>" href="/membership">MEMBERSHIP</a>
    <a class="nav-link <%= title == " Alumni" ? "active" : "" %>" href="/alumni">ALUMNI</a>
    <a class="nav-link <%= title == " Newsletter" ? "active" : "" %>" href="/newsletter">NEWSLETTER</a>
    <a class="nav-link <%= title == " Blog" ? "active" : "" %>" href="/blog">BLOG</a>
    <a class="nav-link <%= title == " Contact" ? "active" : "" %>" href="/contact">CONTACT</a>
    <% if(locals.user) {%>
      <a class="nav-link " href="/admin/alumni">Alumni Approve</a>
      <a class="nav-link " href="/admin/blog">Blogs Approve</a>
      <%} %>
  </ul>
</div>

<script defer src="scripts\header.js"></script>